# 不计入代码统计

# 前端框架 layui-2.7.6
WebContent/common/layui-2.7.6/* linguist-vendored
WebContent/common/html5shiv-r29/* linguist-vendored
WebContent/common/respond.js-1.4.2/* linguist-vendored
WebContent/common/static/layui-v2.7.6/* linguist-vendored

# 前端JQuery
WebContent/common/jquery-1.12.4/* linguist-vendored

# 库文件
WebContent/WEB-INF/lib/* linguist-vendored
