body {
    padding: 40px 20px;
}

.login-plan{
    margin: 2% auto;
    max-width: 400px;
}

.login-plan form{
    font-size: 18px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 40px 30px 30px 30px;
    
    /*
    box-shadow: 0 0 8px #eeeeee;
    border-radius: 10px;
    */

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

h1{
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 20px;
}

form input{
    margin-top: 7px;
    font-size: 20px;
}

.captcha-input{
    width: 60%;
    display: inline-block;
}

.captcha-img{
    margin-top: 7px;
    float: right;
    width: 34%;
    text-align: right;
    border: 1px #eee solid;
    border-radius: 2px;
}

.captcha-img img{
    width: 115px;
    height: 36px;
}

.login-btn{
    font-size: 20px;
    height: 46px;
    width: 36%;
    margin-top: 20px;
}

#captchaImg{
    cursor: pointer;
}