/* 全部的 */
.p-2indent {  
    text-indent: 2em;  
  }

.margin-10all{
    margin: 10px;
}

.margin-20all{
    margin: 20px;
}

.margin-5all{
    margin: 5px;
}

.margin-5all{
    margin: 5px;
}

.padding-5all{
    padding: 5px;
}

.border0{
    border: 0;
}

.w20-h20{
    width: 20px;
    height: 20px;
}

.inline-block{
    display: inline-block;
}

.margin-2all{
    margin: 2px;
}

.margin-center{
    margin-left: auto;
    margin-right: auto;
}

.margin-0v-10h{
    /*上下，左右10*/
    margin: 0 10px;
}

.line-height10{
    line-height: 20px;
}

.margin-0v-5h{
    /*上下，左右5*/
    margin: 0 5px;
}

.margin-20v-0h{
    /*上下20，左右0*/
    margin: 20px 0;
}

/*部分的*/

.padding-bottom{
    padding-bottom: 20px;
}

.margin-10down{
    margin-bottom: 10px;
}

.margin-20down{
    margin-bottom: 20px;
}

.margin-10up{
    margin-top: 10px;
}

.margin-20up{
    margin-top: 20px;
}

.margin-30up{
    margin-top: 30px;
}

.margin-40up{
    margin-top: 40px;
}

.margin-5p-up{
    margin-top: 5%;
}

.margin-10p-up{
    margin-top: 10%;
}

/* 导航栏 */
.nav1 li{
    display:inline;
    line-height: 40px;
}

.brand1 img{
    width: 36px;
    height: 36px;
}

.brand1{
    line-height: 36px;
}

.btn-nav{
    text-align: center;
    width: 40px;
    height: 48px;
}